<%= form_for(person.person_languages.build(language_id: language.id), 
		remote: true) do |f| %>
  <div>
  	<%= f.hidden_field :person_id %>
  	<%= f.hidden_field :language_id %>
  </div>
  <%= f.submit t(:add), class: "btn btn-primary btn-small  btn-medium", 
  		id: "add_language_btn" %>
<% end %>	  	