<%= form_for(person.person_roles.build(role_id: role.id), 
		remote: true) do |f| %>
  <div>
  	<%= f.hidden_field :person_id %>
  	<%= f.hidden_field :role_id %>
  </div>
  <%= f.submit t(:add), class: "btn btn-primary btn-ss-size", 
  		id: "add_item_btn" %>
<% end %>	  	