<%= form_for(person.person_roles.find_by(role_id: role.id),
     html: { method: :delete }, remote: true) do |f| %>
     <div>
	  	<%= f.hidden_field :person_id %>
	  	<%= f.hidden_field :role_id %>
	  </div>
  <%= f.submit t(:remove), class: "btn btn-small btn-medium", id: "remove_item_btn",
  data: { confirm: 'Are you sure?' } %>
<% end %>