<%= will_paginate @roles %>
<table class='table-bordered tabletable-hover table-index'>
  <thead>
    <tr>
      <th class='td_holder field  long-long-size-td'><%= t(:name)%></th>
      <th class='td-img-holder ss-size-td'>#</th>
      <th class="btn_holder"></th>
    </tr>
  </thead>

  <tbody  class="tbody_events">
  	<%= render partial: "role", collection: @roles %>
  </tbody>
</table>
<%= will_paginate @roles %>