<% provide(:title, 'All users') %>
<h1>
	<div class="container-fluid">
		<div class="inline_container">All people</div>
		<div class="inline_container link_container">		
	      <%= link_to "New Person", new_person_path,
	                  class: "btn btn-primary" %>
		</div>		
	</div>
</h1>

<%= will_paginate %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Family Name</th>
      <th class="btn_holder"></th>
      <th class="btn_holder"></th>
    </tr>
  </thead>

  <tbody  class="tbody_events">
  	<%= render @people %>
  </tbody>
</table>


<%= will_paginate %>
