<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to t('main'), edit_person_path(@person) %></li>
  <li class="active"><a><%= t('languages.name') %></a></li>
  <li><%= link_to t('roles.name'), roles_person_path(@person) %></li>
</ul>

<%= render partial: "languages" %>
	
