<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to t('main'), edit_person_path(@person) %></li>
  <li class="active"><a><%= t('languages.name') %></a></li>
  <li class="tab-heading">
  	<label style="font-size: 20px; font-weight: bold;"><%= "#{@person.name} #{@person.family_name}" %></label>  	 
  </li>
</ul>

<%= render partial: "languages" %>
	
