<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to t('main'), edit_person_path(@person) %></li>
  <li><%= link_to t('languages.name'), languages_person_path(@person) %></li>
  <li class="active"><a><%= t('roles.name') %></a></li>
</ul>

<%= render partial: "roles" %>
	