<%= render partial: 'shared/header_index', 
	locals:{ title: t('.list'),  path:new_status_path} %>

<table class='table-bordered table-index'>
  <thead>
    <tr>
      <th class='td_holder long-long-size-td module-link'><%=t(:name) %></th>
    </tr>
  </thead>

  <tbody>
  	<%= render @statuses %>
  </tbody>
</table>