<tr  class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td class='td_holder long-long-size-td module-link'>
  		<%= link_to language.name, edit_language_path(language) %>  			
	</td>
	<td class='td_holder ss-size-td'>
		<%= language.code %>		
	</td>
</tr>