<% provide(:title, title) %>
<h1>
	<div class="header-title">
		<span><%= title %></span>
	</div>	
	
	<%= link_to t(:new), path, class: "link_header btn btn-small", 
				id: "new_link_header" %>
	
	<% if (defined? search) %>
		<%= render partial: 'shared/search_header', 
			locals:{ search: search} %>
	<% end %>
	
	<% if (defined? xlsx_download_path) %>
		<%= render partial: 'shared/xlsx_download', 
			locals:{ download_path: xlsx_download_path} %>
	<% end %>
</h1>
