<% provide(:title, title) %>
<h1>
	<div class="header-title">
		<span><%= title %></span>
	</div>	
	
	<%= link_to t(:new), path, class: "link_header btn btn-small" %>
	
	<% if (defined? search) %>
		<%= render partial: 'shared/search_header', 
			locals:{ search: search} %>
	<% end %>
</h1>
