<div class="download-excel-container">
	<%=link_to( image_tag('excel_32x32.png', 
	:title =>  t('download_as_excel'),  
	:alt =>  t('download_as_excel')), 
	download_path) %>
	<!--<%= link_to t('download_as_excel'), download_path %>-->
</div>
