<tr  class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td class='td_holder long-long-size-td module-link'>
  		<%= link_to department.name, edit_department_path(department) %>  			
	</td>
  <td class='td_holder  long-size-td'>
  	<%= department.description %>  	
  </td>
</tr>