<h1>על "תנועת הערבות"</h1>
<p>"תנועת הערבות" היא תנועה חינוכית-חברתית, שהוקמה במטרה להוביל תהליך הבראה יסודי של החברה הישראלית. "תנועת הערבות", שהוקמה על ידי ארגון "קבלה לעם", הציבה לה למטרה להעלות את ערך הערבות ההדדית למרכז השיח הציבורי בחברה הישראלית. במונח "ערבות הדדית" מקופל הרעיון, ששלומו של הפרט ושלום החברה הסובבת אותו – אחד הם לטוב ולרע. </p>
<p>אנו נחושים לקדם שינוי בתפיסה החברתית במדינת ישראל, כתנאי הכרחי ליצירת מדינה צודקת ושוויונית יותר, מדינה שנהיה גאים לחיות בה.</p>
<p>לתפיסתנו, החברה הישראלית ניצבת בפני שורה של אתגרים מורכבים מבית: בתחום הכלכלי, חברתי, חינוכי, ערכי, ושורת איומים מחוץ. במצב של היום, הדרך היחידה להוביל כאן שינוי היא על ידי שיח ציבורי חדש, שייבנה בתהליך מעמיק ומתמשך "מלמטה".</p>
<p>כתנועה חינוכית-חברתית אנו יוזמים פעילויות מסוגים שונים שמטרתן לבנות שיח ציבורי חדש, ביניהן:</p>
<ul>
<li>הרצאות, קורסים, סדנאות וחוגי בית לקהלים שונים</li>
<li>פורטל "תנועת הערבות" (www.arvut.org), קבוצת "ערבות הדדית" בפייסבוק</li>
<li> רצועת הערבות בערוץ 66, המשודר ב-HOT וב-yes</li>
<li>פרויקט "השולחן העגול", ברחבי הארץ והעולם</li>
<li> פרויקט "מתחברים – בונים עתיד ביחד"</li>
<li> הוצאה לאור של ספרים</li>
</ul>

<h1>כתנועה חינוכית-חברתית אנו:</h1>
<h2>מקיימים את הפרויקט "השולחן העגול"</h2>
<p>השולחן העגול היא פלטפורמה שסביבה מתיישבים אזרחים ממגוון האוכלוסייה: יהודים, ערבים, דרוזים ובדווים; חילוניים ודתיים; עולים חדשים לצד ותיקי הישוב; אקדמאים, בעלי עמדה ואנשים פשוטים, מבוגרים וצעירים.</p>
<p>השולחן העגול הראשון הוצב באופן ספונטני בזמן המחאה החברתית בשדרות רוטשילד. הוא זכה להצלחה אדירה, ובתוך זמן קצר התאספו סביבו מאות אנשים. כולם אזרחי מדינה אחת, יושבים כשווים סביב&nbsp;<b>שולחן עגול</b>&nbsp;שמוצב באולם מקומי או בכיכר העיר כמו משפחה אחת, ומחפשים דרך לבנות כאן חברה טובה, שוויונית וערכית יותר. כל אדם מביע את דעתו, האחרים מקשיבים, מגיבים, וכך נוצר שיח חברתי משותף באווירה של "משפחה אחת" שמשתדלת להגיע לאחדות.</p>
<p>מאז ועד היום ארגנו מעל 40 אירועי "שולחן עגול" שאליהם נחשפו במצטבר קרוב ל-20,000 איש. באר שבע, שלומי, קריית גת, אצבע הגליל, חיפה, טירת כרמל, אלפי מנשה, איכסאל, חדרה, תל-חי, ועוד רבים אחרים הם חלק מהמקומות בהם קיימנו פעילות. בכל שולחן יושב מנחה ומתעד והסיכומים עולים כולם לאתר לצד קליפ וצילום של המפגש כולו.</p>

<h2 class="brown">מעבירים הרצאות, חוגי בית וסדנאות שונות</h2>
<p>מדי יום יוצאים עשרות מרצים ומתנדבים מטעם תנועת הערבות להרצאות בתחום החינוך האינטגרלי בכל רחבי הארץ. חברות, ארגונים, בתי אבות, קיבוצים, מוסדות ואנשים פרטיים הם רק חלק מאלפי האנשים שחווים את השינוי.</p>
<p>מעוניינים לקיים אצלכם חוג בית או הרצאה? להזמנת חוגי בית או הרצאות בחינם לכל קהל וגיל, בכל מקום - פנו אלינו למייל 
	<script type='text/javascript'>
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy64689 = '&#105;nf&#111;' + '&#64;';
 addy64689 = addy64689 + '&#97;rv&#117;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy64689 + '\'>');
 document.write(addy64689);
 document.write('<\/a>');
 //-->\n </script><script type='text/javascript'>
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script>This e-mail address is being protected from spambots. You need JavaScript enabled to view it.
 <script type='text/javascript'>
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script><br /> או בטלפון 1-700-707-200</p>
