<p>Arvut is a socio-educational network established with the aim to lead a grassroots shift in Israeli society and in the Jewish population around the world; a shift towards healthier, more balanced societies, achieving sustainable, shared happiness.</p>
<p>We are a non profit organization registered in Israel.</p>
<h3 dir="ltr"><span style="line-height: 1.5;">Our Goal</span></h3>
<p dir="ltr">The goal of The Arvut network is to improve the quality of life in our communities and the society we live in by uplifting the values of mutual guarantee and collaboration. The notion of mutual guarantee, which was fostered and cultivated for centuries by the Jewish people, holds within it the awareness that our personal well-being and the well-being of society are interdependent. We aim to restore that notion and embed it into our daily lives to improve all functions of our society.</p>
<h3 dir="ltr"><span style="line-height: 1.5;">Our Projects</span></h3>
<ul>
<li dir="ltr">The Round Table platform</li>
<li dir="ltr">Thought-provoking presentations, lectures and seminars &nbsp;</li>
<li dir="ltr">Social Networking</li>
<li dir="ltr">Connecting - Building Our Future Together - collaboration with social and educational organizations</li>
</ul>
<h3 dir="ltr"><span style="line-height: 1.5;">Round Table Events</span></h3>
<p dir="ltr">Round Table events are held in different venues, from city squares, to university halls and business organizations.The Round Table platform is used to provide the conditions for fruitful multilateral discussions which bring people of different backgrounds to solve their problems together. Such experiences of successful collaboration through the connection of hearts and minds, create a culture of productive, connective discourse, essential to any community, group or organization. At the Round Table all participants express their opinion equally. The discussions are guided by a moderator who raises a wide range of questions, relevant to the shared goals of the participants. Previous Round Table events have successfully brought together employees and managers, social activists, representatives of public organizations and the media, as well as experts in different fields. The results have been new found solutions to difficult problems, a sense of trust, joy and cooperation that fostered hope and positive initiatives.</p>
<h3 dir="ltr"><span style="line-height: 1.5;">Results</span></h3>
<ul>
<li dir="ltr">Expanded cooperation among individuals and organizations</li>
<li dir="ltr">Greater focus on social issues and problems</li>
<li dir="ltr">Increased awareness of different perspectives of the situation</li>
<li dir="ltr">Creative solutions to problems we face together and apart</li>
<li dir="ltr">New found partnership and mutual understanding between all participants</li>
<li dir="ltr">A sense of hope and inspiration, security and motivation for progress</li>
</ul>
<h3 dir="ltr"><span style="line-height: 1.5;">Thought-provoking presentations, lectures and workshops</span></h3>
<p dir="ltr">The unique method developed by the Arvut network includes experiential activities, discussion circles, games, intriguing media items and other techniques that build group intelligence and “collective intelligence.” All these are based upon research that has uncovered latent advantages within the connection between people. Our different seminars are designed to improve relationships on different levels: in the family, at work, in the community and between people of diverse backgrounds.</p>
<p><span style="line-height: 1.5;"><span style="text-decoration: underline;">Organizational benefits:</span> Our organizational seminars have been helping managers and employees at all levels learn and apply behaviors that increase coherence; enabling organizations to establish two critical competences required for sustainability in today’s world: trust and agility. Creating an integral, highly engaged culture is the ultimate, long term economic advantage.</span></p>
<h3><span style="line-height: 1.5;">Social Networking</span></h3>
<p dir="ltr">The Arvut network has a strong social networking presence. We are regularly published by the leading media channels in Israel, such as Ynet, NRG, and The Jerusalem Post.</p>
<h3 dir="ltr"><span style="line-height: 1.5;">Israel and Beyond</span></h3>
<p dir="ltr">Following the successful commencement of The Arvut network in Israel, we began sharing our ideas, goals, and the Round Table platform with Jewish communities around the world.</p>
<p>Just as we have been collaborating with social and educational organizations in Israel, we have started cultivating such collaborations with Jewish organizations worldwide. We are certain that the success and social cohesion such initiatives achieve, will be as extraordinary an experience as in Israel.</p>
<h3 dir="ltr"><span style="line-height: 1.5;">Benefits</span></h3>
<p dir="ltr">Arvut has been bringing people from many different backgrounds in Israeli society together for an enriching and fruitful discussion. Many people who attended these discussions came out elated about feeling at home with complete strangers for the first time, even if they came from different backgrounds and even with sensitive faith and cultural differences between them. They attested to feelings of warmth, strength, family closeness, love, joy, and hope.</p>
<p dir="ltr">We believe that many of the challenges facing the Jewish communities worldwide can be mitigated and resolved by implementing the platforms we have implemented here in Israel.</p>
<p dir="ltr"><strong>We are confident that our collaboration and connection will be the first stepping stone to becoming a worldwide family living in mutual guarantee.</strong></p> 
