<h2>Общественное движение «Арвут»</h2>
<p>Движение «Арвут» – это общественное неполитическое движение, с
	тавящее своей целью поднять важность понятия «взаимное поручительство» 
	как в Израиле, так и во всем мире. 
	Движение основано с целью донести до мирового сообщества реальность г
	лобального кризиса, охватывающего все области жизни и деятельности человечества, 
	и предложить научные методы его решения.
</p>