<div class="contentpaneopen">
	<table id="aiContactSafeForm" border="0" cellpadding="0" cellspacing="5">
		<tbody>
			<tr>
				<p dir="rtl" style="color: #222222; font-family: arial, sans-serif; font-size: 13px; line-height: normal; text-align: right;"><span size="3" style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">אם יש לכם הצעה, רעיון או כל פניה אחרת לתנועה, אנו מזמינים אתכם למלא את הטופס הבא ואנו נשתדל לענות לכם בהקדם האפשרי.</span></p>
				<p dir="rtl" style="text-align: right;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><span style="color: #222222; line-height: normal;">בנוסף, תוכלו ליצור&nbsp;קשר&nbsp;עמנו בטל': 1-700-707-200 או באמצעות שליחת </span><span style="color: #222222; line-height: normal;">דוא"ל:&nbsp;&nbsp;</span><span style="color: #222222; line-height: normal;">
 <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy89474 = '&#105;nf&#111;' + '&#64;';
 addy89474 = addy89474 + '&#97;rv&#117;t' + '&#46;' + '&#111;rg';
 var addy_text89474 = '&#105;nf&#111;' + '&#64;' + '&#97;rv&#117;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy89474 + '\'>');
 document.write(addy_text89474);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:info@arvut.org">info@arvut.org</a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></span></span><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; line-height: normal;"><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; line-height: normal;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">כתובתנו:<strong style="color: #1f1f1f; font-family: arial, helvetica, clean, sans-serif; font-size: 14px; line-height: 17.233999252319336px; text-align: right;">&nbsp;</strong><span style="line-height: 17.233999252319336px; text-align: right;">רח' הנבטים 12, אזור התעשיה רמת סיב, פתח תקוה</span></span></p>
 
 <p style="text-align: right;" dir="rtl"><span size="3" style="font-family: arial, helvetica, sans-serif;"><span style="line-height: 24px;">&nbsp;</span></span></p>
 
			</tr>				
		</tbody>
	</table>
</div>