<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Arvut is a socio-educational network established with the aim to lead a grassroots
  shift in Israeli society and in the Jewish population around the world;
  a shift towards healthier, more balanced societies, achieving sustainable,
  shared happiness.
  We are a non profit organization registered in Israel.
</p>