<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  If you have any suggestions, ideas or requests concerning the Arvut (mutual guarantee)
  Movement, please fill out the attached form and we will contact you as soon as possible.
  You can also contact us at 1-700-707-200 (Israel).
</p>