<div class="center">
  <a href='http://kabhaifa.blogspot.co.il/'>
    <img src="../images/BAH-3.jpg"  alt="בית ערבות חיפה">
  </a>
</div>
<div class="center hero-unit">
  <h1>בית ערבות חיפה</h1>
  <p>האתר נמצא בפיתוח</p>
</div>
