<div>
  <a href='http://kabhaifa.blogspot.co.il/'>
    <img src="../images/BAH-3.jpg" width="828px; " height="125px;" alt="בית ערבות חיפה">
  </a>
</div>
<h1>בית ערבות חיפה</h1>
<p>האתר נמצא בפיתוח</p>
