<div class="center">
  <%= link_to image_tag("BAH-3.jpg", alt: "בית ערבות חיפה"), 'http://kabhaifa.blogspot.co.il' %>
</div>
<div class="center hero-unit">
  <h1>האתר נמצא בפיתוח</h1>
  <p></p>
</div>
