<tr style="">
  <td style="padding-left: 1em;">
  	<%= link_to event.name, event %>
  </td>
  <td style="padding-left: 1em;"><%= event.description %></td>
  <td style="padding-left: 1em;"><%= link_to 'Edit', edit_event_path(event), class: "btn btn-small" %></td>
  <td style="padding-bottom: 0.5em;padding-left: 1em;"><%= link_to 'Destroy', event, method: :delete, class: "btn btn-small",
  							data: { confirm: 'Are you sure?' } %></td>
</tr>