<% provide(:title, 'All events') %>
<h1>
	<span>All events</span>
	<span>		
	      <%= link_to "New Event", new_event_path,
	                  class: "btn btn-primary" %>
	</span>
</h1>
<%= will_paginate %>
<table>
  <thead>
    <tr>
      <th>Event Date</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody  class="tbody_events">
  	<%= render @events %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
