<h1>
	<span><%=t('.new') %></span>
	<span  class:"link_header" style="white-space:pre;">      |</span>
	<%= link_to t('events.index.list'), events_path, class:"link_header" %>	
</h1>

<%= render 'form' %>

