<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @org_relation_status.name %>
</p>

<%= link_to 'Edit', edit_org_relation_status_path(@org_relation_status) %> |
<%= link_to 'Back', org_relation_statuses_path %>
