
insert into languages (name,code) values ('צרפתית','fr');

insert into languages (name,code) values ('ספרדית','es');

insert into person_languages(person_id,language_id) select id,4 from people where name ='מרק' and  family_name = 'ויגנה';
insert into person_languages(person_id,language_id) select id,4 from people where name ='גיל' and  family_name = 'אפינגר';



insert into person_languages(person_id,language_id) select id,5 from people where name ='ורדה' and  family_name = 'סלמן';
insert into person_languages(person_id,language_id) select id,5 from people where name ='גדעון' and  family_name = 'כהן';
insert into person_languages(person_id,language_id) select id,5 from people where name ='מרינה' and  family_name = 'נוחגר';