insert into person_languages(person_id,language_id) select id,1 from people where name ='נטע' and  family_name = 'קורן';
insert into person_languages(person_id,language_id) select id,1 from people where name ='מלי יהלי' and  family_name = 'אוחנה';
insert into person_languages(person_id,language_id) select id,1 from people where name ='שי' and  family_name = 'לבנת';
insert into person_languages(person_id,language_id) select id,1 from people where name ='בתיה' and  family_name = 'פז';
insert into person_languages(person_id,language_id) select id,1 from people where name ='שלומית' and  family_name = 'יצחקי';
insert into person_languages(person_id,language_id) select id,1 from people where name ='אורטל' and  family_name = 'גרנסקי';
insert into person_languages(person_id,language_id) select id,1 from people where name ='אסף' and  family_name = 'מצמון';
insert into person_languages(person_id,language_id) select id,1 from people where name ='שבתאי' and  family_name = 'נחום';
insert into person_languages(person_id,language_id) select id,1 from people where name ='תמיר' and  family_name = 'קהילה';
insert into person_languages(person_id,language_id) select id,1 from people where name ='ורדה' and  family_name = 'סלמן';
insert into person_languages(person_id,language_id) select id,1 from people where name ='מרינה' and  family_name = 'נוחגר';
insert into person_languages(person_id,language_id) select id,1 from people where name ='גיל' and  family_name = 'אפינגר';
insert into person_languages(person_id,language_id) select id,1 from people where name ='סרגיי' and  family_name = 'בסקין';