insert into person_languages(person_id,language_id) select id,2 from people where name ='אביגיל (אולגה)' and  family_name = 'גברילוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אולג' and  family_name = 'דרמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אולג' and  family_name = 'סוילר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אולג' and  family_name = 'קרב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אולגה' and  family_name = 'מינקין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אולגה' and  family_name = 'קוטלרמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אולה' and  family_name = 'טבקובה';
insert into person_languages(person_id,language_id) select id,2 from people where name ='איגור' and  family_name = 'קגן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='איליה' and  family_name = 'רזניק';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אילנה' and  family_name = 'זמיחובסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אינה' and  family_name = 'אוסטרובסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אינה' and  family_name = 'בנשציקוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אינה' and  family_name = 'ברודסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אינה' and  family_name = 'שפירא';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אינה' and  family_name = 'רובינשטיין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אירה' and  family_name = 'סימוננקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אירינה' and  family_name = 'ווטינוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אירינה' and  family_name = 'לויטס';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אירנה' and  family_name = 'בוזיק';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אירנה' and  family_name = 'שמעונוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלה' and  family_name = 'צוקרמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלה' and  family_name = 'שפילובה';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלה' and  family_name = 'רוזקוב';

insert into person_languages(person_id,language_id) select id,2 from people where name ='אילונה' 
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכס' and  family_name = 'גינזבורג';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכס' and  family_name = 'ויקוטן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכס' and  family_name = 'לוצנקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכס' and  family_name = 'שולמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכסי' and  family_name = 'נמיטוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכסיי' and  family_name = 'רוזקוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכסנדר' and  family_name = 'דאייב קובלוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכסנדר' and  family_name = 'פורטנוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכסנדר' and  family_name = 'סבינריוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכסנדרה' and  family_name = 'ליבר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אנדרי' and  family_name = 'זיטניק';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אנה' and  family_name = 'בסון';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אנה' and  family_name = 'דרובר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אנה' and  family_name = 'לבריק';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אנה' and  family_name = 'מיטייב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אנה' and  family_name = 'קובולקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אנה' and  family_name = 'רזניצנקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אריה' and  family_name = 'קריא';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ארקדי' and  family_name = 'ריאבו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='בוריס' and  family_name = 'וורנוביצקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='בוריס' and  family_name = 'קמלדינוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ברסיקובסקי' and  family_name = 'דמטרי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גינדי' and  family_name = 'נולר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גליה' and  family_name = 'פרידמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גלינה' and  family_name = 'בלסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גלינה' and  family_name = 'חולוסטוי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גלינה' and  family_name = 'ילסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גלינה' and  family_name = 'פלדשירוביץ';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גלינה' and  family_name = 'פרידמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גלינה' and  family_name = 'שגלוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גלינה' and  family_name = 'אבשלום';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סבטלנה' and  family_name = 'נמצוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סבטלנה' and  family_name = 'קמלדינוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סבטלנה' and  family_name = 'רוזנפלד';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סבטלנה' and  family_name = 'שיראייב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סבטלנה' and  family_name = 'רבוי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סוניה סופה' and  family_name = 'אייזלמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סופה' and  family_name = 'בלקין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סופיה' and  family_name = 'טרוסטיאניצר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סופיה' and  family_name = 'מירונוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סופיה' and  family_name = 'סרבין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סטניסלב' and  family_name = 'פריידמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סילביה' and  family_name = 'לייבוביץ';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סימה' and  family_name = 'סוידלר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סימה' and  family_name = 'בוגומולניק';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סמיון' and  family_name = 'ליטוין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סרגי' and  family_name = 'פלקוביץ';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סשה' and  family_name = 'פרידמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='פליקס' and  family_name = 'מילמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='פרידה' and  family_name = 'בוטביניק';
insert into person_languages(person_id,language_id) select id,2 from people where name ='קטיה' and  family_name = 'פרוגרבינסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='רוזה' and  family_name = 'שפירו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ריטה' and  family_name = 'גולדשטיין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ריטה' and  family_name = 'גורביץ';
insert into person_languages(person_id,language_id) select id,2 from people where name ='רעיה' and  family_name = 'מוגילבסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='רפאל' and  family_name = 'שפירא';
insert into person_languages(person_id,language_id) select id,2 from people where name ='תמרה' and  family_name = 'קריחלי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לודמילה' and  family_name = 'טבקובה';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לידיה' and  family_name = 'ברסוקובסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לידייה' and  family_name = 'שטיין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ליובה' and  family_name = 'רפאילוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לילי' and  family_name = 'גודנין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ליליה' and  family_name = 'קליינר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לינה' and  family_name = 'וולינסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לנה' and  family_name = 'ברונשטיין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לנה' and  family_name = 'גולוד';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מאיה' and  family_name = 'קגן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מאיה' and  family_name = 'שנפלד';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מיכאל' and  family_name = 'ויינרוט';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מילה' and  family_name = 'טורובסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מרגריטה' and  family_name = 'קוטלר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מריה' and  family_name = 'רפאלוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מריה' and  family_name = 'גלייך';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מרינה' and  family_name = 'בוכרוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מרינה' and  family_name = 'פישר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מרינה' and  family_name = 'גילביץ';
insert into person_languages(person_id,language_id) select id,2 from people where name ='משה' and  family_name = 'סולומניק';
insert into person_languages(person_id,language_id) select id,2 from people where name ='נטלי' and  family_name = 'אלקיים';
insert into person_languages(person_id,language_id) select id,2 from people where name ='נטלי' and  family_name = 'בחוראשוילי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='נטליה' and  family_name = 'דיאקוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='נטליה' and  family_name = 'וקסלר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='נטשה' and  family_name = 'טלרמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='נטשה' and  family_name = 'פרמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='נטשה' and  family_name = 'רומנובסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='נינה' and  family_name = 'חוש';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ניקולאי' and  family_name = 'וילקר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='נקיטה' and  family_name = 'קובלנקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סבטה' and  family_name = 'שיינין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='יבגני' and  family_name = 'גרדייב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='יבגניה' and  family_name = 'מסנקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ילנה' and  family_name = 'בטחתין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ילנה' and  family_name = 'זיבדוב-שפירו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ילנה' and  family_name = 'מילמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ילנה' and  family_name = 'שדירוציבצוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ילנה' and  family_name = 'ולשצינקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ילנה' and  family_name = 'ארהרדט';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לאוניד' and  family_name = 'וינרוט';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לאוניד' and  family_name = 'טרכטר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לאוניד' and  family_name = 'מוסטוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לאוניד' and  family_name = 'קליינר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לובוב' and  family_name = 'וינצקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לודה' and  family_name = 'אראל';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לודמילה' and  family_name = 'אריאל';
insert into person_languages(person_id,language_id) select id,2 from people where name ='לודמילה' and  family_name = 'קרומגאלז';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ולדימיר' and  family_name = 'רייכמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ולדימיר' and  family_name = 'טבקוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ולדימיר' and  family_name = 'זיליאנסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ולדיסלב' and  family_name = 'ניקולייב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ולרי' and  family_name = 'ורגנוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ולרי' and  family_name = 'שגלוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='זינאידה' and  family_name = 'טוביאש';
insert into person_languages(person_id,language_id) select id,2 from people where name ='זינאידה' and  family_name = 'פטלקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='זנאידה' and  family_name = 'זילברמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='חיים ( פימה)' and  family_name = 'ממונטוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='טטיאנה' and  family_name = 'ארליך';
insert into person_languages(person_id,language_id) select id,2 from people where name ='טטיאנה' and  family_name = 'טברסקוי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='טטינה' and  family_name = 'לזרב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='טניה' and  family_name = 'אוסטרובסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='טניה' and  family_name = 'זלקינד';
insert into person_languages(person_id,language_id) select id,2 from people where name ='טניה' and  family_name = 'טלסניק';
insert into person_languages(person_id,language_id) select id,2 from people where name ='טניה' and  family_name = 'מקסימנקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גנאדי' and  family_name = 'פטלקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גנדי' and  family_name = 'טרוסטוניצקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גנדי' and  family_name = 'שוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גנה' and  family_name = 'שרמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גנריאטה' and  family_name = 'שנקר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='דינה' and  family_name = 'ברגר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ויטלי' and  family_name = 'קורוטייב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ויקה' and  family_name = 'טנסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ויקטור' and  family_name = 'לויט';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ויקטור' and  family_name = 'קלוגרמן';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ולדימיר' and  family_name = 'מינקין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='איון' and  family_name = 'בר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='נחום' and  family_name = 'ברקוביץ';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלכסנדר' and  family_name = 'פרדקין';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ילנה' and  family_name = 'אנאנייב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='דימה' and  family_name = 'שקלובסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ולדימיר' and  family_name = 'גייטנר';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אדגר' and  family_name = 'יעקובוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אלברט' and  family_name = 'יוספוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='אנה' and  family_name = 'בריאו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='גלינה' and  family_name = 'אבשלומוב';
insert into person_languages(person_id,language_id) select id,2 from people where name ='דמיטרי' and  family_name = 'ברסיקובסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='יוסנה' and  family_name = 'סוסניבסקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='ילנה' and  family_name = 'יורוביצקי';
insert into person_languages(person_id,language_id) select id,2 from people where name ='מרינה' and  family_name = 'קומיזרקו';
insert into person_languages(person_id,language_id) select id,2 from people where name ='שמואל' and  family_name = 'יאנסון';
insert into person_languages(person_id,language_id) select id,2 from people where name ='סרגיי' and  family_name = 'בסקין';
