<%= render partial: 'shared/header_index', 
	locals:{ title: t('.list'),  path: new_paymet_type_path} %>

<table class='table-bordered table-index'>
  <thead>
    <tr>
      <th class='td_holder long-long-size-td module-link'><%=t(:name) %></th>
      <th class='td_holder ss-size-td'><%=t('activerecord.attributes.paymet_type.frequency') %></th>
    </tr>
  </thead>
  <tbody>
      <%= render @paymet_types %>
  </tbody>
</table>
