<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visitor_status.name %>
</p>

<%= link_to 'Edit', edit_visitor_status_path(@visitor_status) %> |
<%= link_to 'Back', visitor_statuses_path %>
