<%= form_for(payment_type.person_default_payments.build(person_id: person.id), 
		remote: true) do |f| %>
  <div>
  	<%= f.hidden_field :person_id %>
  	<%= f.hidden_field :payment_type_id %>
  </div>
  <%= f.submit t(:add), class: "btn btn-primary btn-small  btn-medium", 
  		id: "add_person_btn" %>
<% end %>	  	