<%= form_for(payment_type.person_default_payments.find_by(person_id: person.id),
     html: { method: :delete }, remote: true) do |f| %>
     <div>
	  	<%= f.hidden_field :person_id %>
	  	<%= f.hidden_field :payment_type_id %>
	  </div>
  <%= f.submit t(:remove), class: "btn btn-small btn-medium btn-warning", id: "remove_person_btn",
  data: { confirm: 'Are you sure?' } %>
<% end %>