/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= bootstrap
 *= require jquery-ui
 *= require_tree .
 */

input[type="date"].search_field{
	 width:160px;  
}

a.link_header{
	letter-spacing: 1px;
}

.search_result{
	letter-spacing: normal;
}

.td_holder.form_holder.input_holder.update_holder{
	width: 20em;
	padding-top: 0.2em;
}



td form{
	margin-top: 0.6em;
	margin-bottom: 0.3em;
}

td form input[type="number"]{
	display: inline;
	width: 10em;
	margin-top: 0.01em;
	margin-bottom: 0;
}

td form input[type="text"]{
	display: inline;
	margin-bottom: 0;
}

.download-excel-container{
	display: inline;
	margin-left :1em;
}
.download-excel-container a{
	font-size: 0.5em;
	font-weight: normal;
	letter-spacing:  0.1em;
}

.he .td_holder{
  padding-right: 0.2em;
}

.he .btn_holder{
  padding-right: 0.5em;
}



