// Place all the styles related to the EventTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  h1{
    text-align: left;
  }
}
.new_event_type{
  input{
    width:25em; 
    height: auto;  
    padding: 4px 6px; 
  }
  
  .submit{
    width: 13em;
  }
  
  label{
    display:inline !important; 
    font-size: 18px;   
  } 
}
