<footer class="footer">
  <small>
    <a href='#'>פרויקט אינטרנט חדש - אנחנו בונים אותו ביחד</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "מי אנחנו",   about_path %></li>
      <li><%= link_to "צרו קשר", contact_us_path %></li>
    </ul>
  </nav>
</footer>