<footer class="footer">
  <small>
    <a href='#'>פרויקט אינטרנט חדש - אנחנו בונים אותו ביחד</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
      <li><a href='#'>News</a></li>
    </ul>
  </nav>
</footer>