<footer class="footer">
  <small>
    <a href='#'><%= t('footer_info') %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('about_us'),   about_path %></li>
      <li><%= link_to t('contact_us'), contact_us_path %></li>
    </ul>
  </nav>
</footer>